@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.root{
    --fonte-titulo: 'Montserrat', cursive;
    --font-conteudo: 'Roboto', cursive;
}

body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #022601, #83D95B);
}
.titulo-principal{
    font-family: 'Montserrat', cursive;
    color: white;
    text-align: center;
}
header{
    background-image: linear-gradient(to top, #224625, #6ce035);
    color: rgb(0, 43, 0);
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}
header>p{
    padding: 10px;
    color: white;
}
main{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}
div{
    background-image: linear-gradient(to right, #3c7940, #9eff71);
    text-align: center;
    border-style: dashed;
    display: inline-block;
    height: 100px;
    min-width: 320px;
    max-width: 1000px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin: 10px;
    padding: 20px;
}
.localizacao{
    text-decoration: none;
    color: #002241;
    margin: 5px;
    padding: 5px;
}
.localizacao:hover{
    color: white;
    border-radius: 3px;
    transition-duration: 0.5s;
    background-image: linear-gradient(to right, #142715, #97ff66);
}
.suspensao .freio .direcao .troca-oleo{
    color: white;
}
.motivo{
    list-style: none;
}
.motivo>li::before{
    content: "✅";
}
.contato>li{
    list-style: none;
}
.contato>li>.whatsapp::before{
    content: "📱";
}
.whatsapp{
    background-color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.contato>li>a{
    text-decoration: none;
    color: #0596A6;
}
.contato>li>a:hover{
    text-decoration: underline;
    color: #002529;
}
footer{
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(to right, #1e461d, #bcff9d);
    min-width: 300px;
    max-width: 800px;
    margin: 10px;
    padding: 10px;
    
}
.creditos{
    background-color: black;
    color: white;
    text-align: center;
}
.creditos>a{
    color: #83D95B;
    text-decoration: none;
}
.creditos>a:hover{
    color: #92b681;
    text-decoration: underline;
}
